In [1]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)
print(21)
print(22)
print(23)
print(24)
print(25)
print(26)
print(27)
print(28)
print(29)
print(30)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)
print(21)
print(22)
print(23)
print(24)
print(25)
print(26)
print(27)
print(28)
print(29)
print(30)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)
print(21)
print(22)
print(23)
print(24)
print(25)
print(26)
print(27)
print(28)
print(29)
print(30)
print(31)
print(32)
print(33)
print(34)
print(35)
print(36)
print(37)
print(38)
print(39)
print(40)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
178
18
19
20

In [2]:
x = "PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [3]:
word = "this is Sparta"
for i in word:
    print(i)

t
h
i
s

i
s

S
p
a
r
t
a

In [8]:
fruits = ['apple', 'banana', 'lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [12]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [14]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [15]:
for i in range(6):
    print('you got point', i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [16]:
# reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [17]:
# pattern loop
for i in range (9):
    print (i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa

In [18]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print(num)

15
30
45
60
75
90

In [20]:
places = ["Paris", "London", "New York", "Madrid", "Rome"]
for place in places:
    print(f'{place} contains {len(place)} characters')

Paris contains 5 characters
London contains 6 characters
New York contains 8 characters
Madrid contains 6 characters
Rome contains 4 characters

In [22]:
x = [1,2,3,1,3,2,1,2,3,1,1,1,2,3,2,1,3,3,2,1]
c = 0
for i in x:
    if i == 3:
        c += 1
print(c)

6

# while loop

In [2]:
x = 1
while x < 10:
    print('running')
    x += 1
print('stopped')

running
running
running
running
running
running
running
running
running
stopped

In [8]:
# a complex program
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i + 1 #update counter

# print the sum
print("The Sum is", sum)

The Sum is 55

In [9]:
while input("continue?") == "y":
    print("you continued running this loop")

you continued running this loop

In [11]:
while len (input("name a place")) > 0:
    print("you entered a place")

you entered a place

In [17]:
num = int(input('enter a number'))
while num > 0:
    if num % 9 == 0:
       break
    print(num)
    num -= 1

70
69
68
67
66
65
64

In [19]:
story = ""
while True:
    line = input("enter a line")
    if line == "":
        break
    story += line + "\n"
print(story)

my name i amar
my name is amar
 i am from lko

In [22]:
x = [1,3,4,0,2,4,0,8,0,0,4,0,0,]
for i in x:
    if i == 0:
        continue
    print(i)

1
3
4
2
4
8
4

In [23]:
fruits = ['apple', 'banana', 'mango']
for fruit in fruits:
    print('we have',fruit)
else:
    print('thats all')

we have apple
we have banana
we have mango
thats all

In [25]:
vegs = ['Tomato', 'Carrot', 'Cucumber', 'Potato', 'onion']
for veg in vegs:
    print(f'lookint at {veg}')
    if veg == 'Potato':
        print("potato found")
        break
else:
    print("potato not found")

lookint at Tomato
lookint at Carrot
lookint at Cucumber
lookint at Potato
potato found

In [27]:
# Prime numbers
num = int(input('enter a num='))
for i in range(2,num):
    if num % i == 0:
        print(f'{num} is not a prime number')
        break
else:
    print(f'{num} is a prime number')

7 is a prime number

enumerate and zip

In [28]:
for idx,val in enumerate(vegs):
    print(idx, val)

0 Tomato
1 Carrot
2 Cucumber
3 Potato
4 onion

In [29]:
x = [1,2,3,4,5,6,6]
y = [2,3,1,2,3,1,2]
z = [1,2,3,4,5,1,2]

for i,j,k in zip(x,y,z):
    print(i+j+k ,end=' ')

4 7 7 10 13 8 10