In [1]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)
print(21)
print(22)
print(23)
print(24)
print(25)
print(26)
print(27)
print(28)
print(29)
print(30)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)
print(21)
print(22)
print(23)
print(24)
print(25)
print(26)
print(27)
print(28)
print(29)
print(30)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)
print(21)
print(22)
print(23)
print(24)
print(25)
print(26)
print(27)
print(28)
print(29)
print(30)
print(31)
print(32)
print(33)
print(34)
print(35)
print(36)
print(37)
print(38)
print(39)
print(40)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
178
18
19
20

In [2]:
x = "PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [3]:
word = "this is Sparta"
for i in word:
    print(i)

t
h
i
s

i
s

S
p
a
r
t
a

In [8]:
fruits = ['apple', 'banana', 'lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [12]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [14]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [15]:
for i in range(6):
    print('you got point', i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [16]:
# reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [17]:
# pattern loop
for i in range (9):
    print (i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa

In [18]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print(num)

15
30
45
60
75
90

In [20]:
places = ["Paris", "London", "New York", "Madrid", "Rome"]
for place in places:
    print(f'{place} contains {len(place)} characters')

Paris contains 5 characters
London contains 6 characters
New York contains 8 characters
Madrid contains 6 characters
Rome contains 4 characters

In [22]:
x = [1,2,3,1,3,2,1,2,3,1,1,1,2,3,2,1,3,3,2,1]
c = 0
for i in x:
    if i == 3:
        c += 1
print(c)

6