In [ ]:
name = "Amardeep Nigam"
len(name)

In [ ]:
name[0]

In [ ]:
name[12]

In [ ]:
name[13]

In [ ]:
name[0]+name[1]+name[2]+name[3]

In [ ]:
#getting a slice
s = "Digipodium"
slice1 = s[4:7]
print(slice1)

In [ ]:
fname = name[0:4]
print(fname)

In [ ]:
name = "Vijay Deenanath Chauhan"
fname = name[6:15]
print(fname)

In [ ]:
name[-7:len(name)]

In [ ]:
name[-7:]

In [ ]:

slice1 = s[0:4]
slice2 = s[:4]
print(slice1)
print(slice2)

In [ ]:
x = chr(65)
print(x)
x = chr(2365)
print(x)
x = chr(12365)
print(x)

In [31]:
y = ord('A')
print(y)
y = ord('a')
print(y)
y = ord('{')
print(y)

65
97
123

In [32]:
a = 'Mango'
b = 'juice'
ab = a + b
print(ab)

Mangojuice

In [36]:
a = "Apple"
b = "Juice"
ab = a + ' ' + b + ' '
print(ab)

Apple Juice

In [37]:
word = 'Hi'
print(word * 3)

HiHiHi

In [39]:
print('-' * 25)

-------------------------

method
. formatting
. utility
. validation

In [4]:
story = "Once upon a time, there was a kingdom where people lived, The end"

In [5]:
story.upper()

'ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END'

In [6]:
story.lower()

'once upon a time, there was a kingdom where people lived, the end'

In [8]:
story.capitalize()

'Once upon a time, there was a kingdom where people lived, the end'

In [9]:
print(story)

Once upon a time, there was a kingdom where people lived, The end

In [10]:
story.title()

'Once Upon A Time, There Was A Kingdom Where People Lived, The End'

In [11]:
story.swapcase()

'oNCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, tHE END'

In [12]:
story.title().swapcase()

'oNCE uPON a tIME, tHERE wAS a kINGDOM wHERE pEOPLE lIVED, tHE eND'

In [13]:
story = story.upper()
print(story)

ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END

In [14]:
name = "Samuel"
print(name)

Samuel

In [15]:
print(name.ljust(100))

Samuel

In [16]:
print(name.rjust(100))

                                                                                              Samuel

In [17]:
story.rjust(100)

'                                   ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END'

In [20]:
story.center(80,'*')

'*******ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END********'

In [22]:
name = input('who r u?')
if not name.isalpha():
    print("name is invalid")
else:
    print("good job")

good job

In [23]:
num = input('enter a number:')
if num.isnumeric():
    print("good job")
else:
    print('you dont know what a number is')

good job

In [24]:
story.isupper()

True

In [25]:
x = "myfile.png"
x.endswith('png')

True

In [27]:
name = "Dr John Smith"
if name.startswith('Dr'):
    print('welcome docter')
else:
    print("Welcome")

welcome docter

important stuff below
. split
. join
. strip
. replace
. count
. find

In [28]:
words = story.split()
print(words)

['ONCE', 'UPON', 'A', 'TIME,', 'THERE', 'WAS', 'A', 'KINGDOM', 'WHERE', 'PEOPLE', 'LIVED,', 'THE', 'END']

In [31]:
story.split(' , ')

['ONCE UPON A TIME, THERE WAS A KINGDOM WHERE PEOPLE LIVED, THE END']

In [32]:
story.split('A')

['ONCE UPON ', ' TIME, THERE W', 'S ', ' KINGDOM WHERE PEOPLE LIVED, THE END']

In [33]:
len(story.split())

13

In [35]:
# join
message = ['This', 'is', 'a', 'list']
s = ' '.join(message)
print(s)

This is a list

In [37]:
# strip
password = input("enter the password")
print(len(password), password)
password = password.strip()
print(len(password), password)

5 12345
5 12345

In [38]:
#replace
story.replace('E','A')

'ONCA UPON A TIMA, THARA WAS A KINGDOM WHARA PAOPLA LIVAD, THA AND'

In [39]:
story.replace("THE",'')

'ONCE UPON A TIME, RE WAS A KINGDOM WHERE PEOPLE LIVED,  END'

In [3]:
#count
another_story = "This is an example of another story, this story is not simple and is not very long , but it is a story"

In [4]:
another_story.count('story')

3

In [5]:
another_story.count('is')

6

In [6]:
# find
another_story.find('another')

22

In [7]:
another_story.find('story')

30

In [9]:
another_story.rfind('story')

97

In [ ]:
for c in another_story: